#circle-left{
    display: inline;
    padding:10px;
    position:relative;
    bottom:5px;
}
#circle-plus{
    display:inline;
    position:relative;
    left: 200px;
}
.header-section{
    position:relative;
    top: 130px;
    left:430px;
}
.back{
    display:inline;
    text-align: left;
    font-size:20px;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
    position:relative;
    bottom:5px;
    left:5px;
}
.addnew{
    display:inline;
    text-align: left;
    font-size:22px;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
    position:relative;
    bottom:10px;
}
body{
    width: 1366px;
    height: 1368px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top:5px;
}
#header{
    position:relative;
    top:0px;
    background-color: white;
    box-shadow: 0px 3px 30px #7B7B7B29;
    width:100%;
    
}
#header-tasks{
    display:inline-block;
    font-weight: bold;
    font-size:40px;
    color: #424242;
    text-align: left;
    margin: 5px 0px 5px 100px;
    padding:10px 0px 10px 0px;

}
#header-lists{
    display:inline-block;
    font-size:40px;
    font-weight: bold;
    color: #00A5EC;
    text-align: left;
    margin: 5px 0px 5px 0px;
    padding:10px 0px 10px 10px;
}
.parent{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: space-evenly;
    text-align:center;
    height: 800px;

}
.card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    width: 500px;
    height: 338px;
}
.card-header{
    color: #00A5EC;
    text-align: center;
    font-size: 29px ;
    border-bottom:1px solid #EDEDED
}
.card-item{
    display: block;
    margin:5px 0px 5px 5px;
    padding:10px 0px 10px 10px;
    text-align: left;
}
.card-content{
    margin-top:30px;
}
.card1-text{
    text-align: left;
    font-size:18px;
    letter-spacing: 0px;
    color: #C2C2C2;
    opacity: 1;
    text-decoration: line-through;
    position:relative;
    bottom:8px;
    padding:5px;
    margin-left:20px
}
.card2-text{
    text-align: left;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
    font-size: 18px;
    position:relative;
    bottom:8px;
    padding:5px;
    margin-left:20px
    

}
.check-box{
    padding:2px;
    display:relative;
    top:10px;
    margin-left: 20px;
}
.notshow{
    filter:opacity(50%);
    -webkit-filter:opacity(50%);
}
span{
    position:relative;
    left:270px;
    color:#858585;
    opacity: 1px;
    font-size: 25px;
}
.Rectangle-1{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #67676729;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    position:absolute;
    top: 300px;
    left: 433px;   
    width: 500px;
    height: 250px;

}
.Rectangle-header{
    text-align: left;
    font-size:22px;
    letter-spacing: 0px;
    color: #404040;
    opacity: 1;
    margin-left:20px;
    padding:10px;
    border-bottom: 2px solid #F7F7F7;
}
.add-task-button{
    background: #00A5EC;
    border-radius: 4px;
    opacity: 1;
    color:white;
    display:block;
    padding:5px;
    width: 180px;
    height: 48px;
    position:relative;
    top:60px;
    left:300px;
    border:0px;
    font-size: 21px;
}
.add-task-item{
    position:relative;
    top:30px;
    left:20px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    opacity: 1;
    width: 460px;
    height: 40px;
}
p{
    font-size:20px;
    text-align: left;
}
h3{
    text-align: left;
    font-size: 26px;
}

